.infocontainer {
    position: absolute;
    top: 12%;
    left: 5%;
}

.info {
    width: 400px;
    margin-top: 10px;
}

@media only screen and (max-width: 420px) {
    .info {
        width: 320px;
    }
}